{% set title = "방문자-회원-개인 정보 수정" %}
{% extends "visit/base.html" %}

{% block content %}
<form class="row g-3">
    <hr>
    <h2>개인정보 수정</h2>
    <div class="col-12">
      <label for="inputEmail4" class="form-label">이름</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
      <label for="inputPassword4" class="form-label">전화번호</label>
      <input type="tel" class="form-control" id="inputPassword4">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          비밀번호 수정
        </label>
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">기존 방문자 PW</label>
        <input type="password" class="form-control" id="inputPassword4" required/>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="" readonly>확인</button>
    <div class="col-12">
        <label for="inputPassword4" class="form-label">새로운 방문자 PW</label>
        <input type="password" class="form-control" id="inputPassword4" required/>
    </div>
    <div class="col-12">
        <label for="inputPassword4" class="form-label">방문자 PW 확인</label>
        <input type="password" class="form-control" id="inputPassword4" required/>
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="" readonly>수정</button> <button type="submit" class="btn btn-primary" value="" readonly>취소</button>
    </div>
{% endblock %}