{% set title = "거주자 리스트" %}
{% extends "admin/base.html" %}

{% block content %}
<form id="row g-3" action="javascript://" style="position: relative ; bottom: 50px;">
    <h2 style="text-align: center;">거주자 조회</h2>
    <button type="submit" id="dels" name="dels" formmethod="post" formaction ="/admin/resident/deletes" class='btn btn-danger'>선택 삭제</button>
    <div id="wrapper"></div>
</form>
<script type="">
    const grid = new gridjs.Grid({
    columns: [{
        id: 'myCheckbox',
        name: 'Select',
        plugin: {
          // install the RowSelection plugin
          component: gridjs.plugins.selection.RowSelection,
          // RowSelection config
          props: {
            // use the "email" column as the row identifier
            id: (row) => row.cell(1).data
          },
          formatter: (cell, row) =>{
             return gridjs.h({
                 value:row.cell(1)
             })
          }
        }
      },"번호", "거주자명", "전화번호","아파트명","동","호",
    { 
        name: 'Actions',
        formatter: (cell, row) => {
            return gridjs.h('button', {
            className: 'btn btn-primary',
            value:cell,
            type:'submit',
            name:'num',
            formmethod : 'post',
            formaction :'/admin/resident/modify'
            
        }, '수정');
        }
    },
    { 
        name: '',
        id:'delete',
        formatter: (cell, row) => {
            return gridjs.h('button', {
            className: 'btn btn-danger',
            value:cell,
            type:'submit',
            name:'num',
            formmethod : 'post',
            formaction :'/admin/resident/delete'
            
        }, '삭제');
        }
    }]
    ,
    data: [
        {% for residents in residents %}
        [{{residents.id}},"{{residents.resident_name}}","{{residents.tel}}","{{residents.apartment_name}}",{{residents.dong}},{{residents.ho}},{{residents.id}},{{residents.id}}],
        {% endfor %}
    ],
    pagination:{
        limit:10
    },
    sort:true,
    search:{
        enalbed: true
    }
}).render(document.getElementById("wrapper"));

grid.on('ready', () => {
  // find the plugin with the give plugin ID
  const checkboxPlugin = grid.config.plugin.get('myCheckbox');
  var tempPagination
  // subscribe to the store events
  checkboxPlugin.props.store.on('updated', function (state, prevState) {
    var temp = state['rowIds']
    document.getElementById('dels').value = temp
    console.log('checkbox updated', temp);
  });
})
</script>
{% endblock %}
