{% set title = "거주자 리스트" %}
{% extends "resident/base.html" %}

{% block content %}
<form id="row g-3" >
    <div class="col-md-12">
        <input type="button" class="btn btn-danger" value="삭제" id="del_button">
    
        구분 <select>
            <option>전체</option>
            <option>일반</option>
        </select>
    </div>
    <div class="col-md-12">
    <table class="table table-hover">
        <tr>
            <td ></td>
            <td >번호</td>
            <td >아파트정보</td>
            <td >방문자명</td>
            <td >사유</td>
            <td>상태</td>
            <td>승인/거절</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
</form>
{% endblock %}