{% set title = "관리자 등록" %}
{% extends "admin/base.html" %}

{% block content %}
<form class="row g-3" method="post" action="admin/apart/register">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">관리자 구분</label>
        <select name="a_types" class="form-control">
            <option>일반</option>
            <option>총괄</option>
    </select>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">관리자 아이디</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">동</label>
        <select name="a_types" class="form-control">
            <option>101</option>
            <option>102</option>
    </select>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">비밀번호</label>
        <input type="password" class="form-control" >
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">이름</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">비밀번호 확인</label>
        <input type="password" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">전화번호</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-12" style="padding-top: 20px;">
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-primary">취소</button>
    </div>
</form>
{% endblock %}