body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #dfdbe5;
  /*  background-image: url("https://wallpaperaccess.com/full/3063067.png"); */
  color: #963e7b;
}

.card {
  width: 60rem;
  margin: auto;
  background: white;
  position: center;
  align-self: center;
  top: 50rem;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display: flex;
  flex-direction: row;
}

.leftside {
  background: #030303;
  width: 25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rightside {
  background-color: #ffffff;
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
}

.inputTitle {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.3rem 0;
}

.button {
  background: linear-gradient(135deg, #d3d2d3 0%, #b7cfdb 100%);
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: rgb(20, 20, 20);
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100px;
  letter-spacing: 0.11rem;
  outline: none;
}

.button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

.expcvv {
  display: flex;
  /*justify-content: space-between;*/
  padding-top: 0.6rem;
}

.expcvv_text {
  padding-right: 1rem;
}

.expcvv_text2 {
  padding-right: 1rem;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: auto;
  }

  .leftside {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
  }

  .rightside {
    width: auto;
    border-bottom-left-radius: 1.5rem;
    padding: 0.5rem 3rem 3rem 2rem;
    border-radius: 0;
  }
}

.product {
  object-fit: cover;
  width: 20em;
  height: 20em;
  border-radius: 100%;
}

#title {
  background-color: rgb(232, 250, 250);
  margin: 0px;
  height: 60px;
  font: italic bold 32px consolas, sans-serif;
}

#menubar {
  background: rgb(252, 252, 250);
  text-align: center;
}

#menubar ul {
  /* 여백과 패딩 모두 0 */
  margin: 0;
  padding: 0;
  width: 100%;
  /*567px; /* 모든 아이템(<li>)을 한 줄에 품을 수 있는 폭 */
}

#menubar ul li {
  display: inline-block;
  /* 새 줄로 넘어가지 않게 */
  list-style-type: none;
  /* 마커 삭제 */
  padding: 0px 15px;
  /* top=bottom=0, left=right=15px */
}

#menubar ul li a {
  color: rgb(12, 12, 12);
  text-decoration: none;
  /* 링크 보이지 않게 */
}

#menubar ul li a:hover {
  color: violet;
  /* 마우스 올라 갈 때 색 */
}
